# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Outputs / logs (généralement à exclure)
outputs/
*.log

# Tests / cache
.pytest_cache/
.mypy_cache/
